@mixin setAnimationProgress($name, $value) {
  circle {
    fill: none;
    stroke: var(--gray-500);
    stroke-width: 5px;
    stroke-dasharray: 582;
    stroke-dashoffset: 582;
    animation: $name 2s linear forwards;
  }

  @keyframes #{$name} {
    100% {
      stroke-dashoffset: $value;
    }
  }
}
