.progressBar {
  .skill {
    width: 130px;
    height: 130px;
    position: relative;

    .outer {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      padding: 10px;
      // box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      //   -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

      .inner {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        background: var(--blue-500);
        justify-content: center;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
          inset 0px 0px 0px 4px rgba(255, 255, 255, 0.7),
          -0.5px -0.5px 0px rgba(255, 255, 255, 1),
          0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
          0px 12px 10px -10px rgba(0, 0, 0, 0.05);

        .bgMiddle {
          color: var(--white);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;

          img {
            width: 80px;
          }
        }
      }

      #number {
        font-weight: 600;
      }
    }

    circle {
      fill: none;
      stroke: var(--gray-500);
      stroke-width: 5px;
      stroke-dasharray: 582;
      stroke-dashoffset: 582;
      animation: anim 2s linear forwards;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    @keyframes anim {
      // totalmente vazio = 582
      // 8 etapas no cadastro
      // reduzir 51 por etapa para progressBar ficar cheio
      0% {
        stroke-dashoffset: 582;
      }
      9% {
        stroke-dashoffset: 531;
      }
      22% {
        stroke-dashoffset: 480;
      }
      35% {
        stroke-dashoffset: 429;
      }
      48% {
        stroke-dashoffset: 378;
      }
      61% {
        stroke-dashoffset: 327;
      }
      74% {
        stroke-dashoffset: 276;
      }
      87% {
        stroke-dashoffset: 225;
      }
      100% {
        stroke-dashoffset: 174;
        //stroke-dashoffset: 480;
      }
    }
  }
}
